body{
 margin: 30px;
 background-color: beige; 
 
}
.content{
    display:flex;

    margin-bottom: 300px;
}
.container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
    height: 1050px;
    gap: 10px;
}
.plus{
    border: 1px solid white;
    width: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 5px;
    align-self: center;
    justify-self: start;
    margin-left: 60px;
    
}
.plus:hover{
    background-color: white;
    color: brown;
}
.minus:hover{
    background-color: white;
    color: brown;
}
.minus{
      border: 1px solid white;
    width: 5px;
    border-radius: 50%;
     width: 10px;
    height: 10px;
     padding: 5px;
    align-self: center;
  margin-left: 5px;
          
}
.count{
 z-index: 7;
 position: absolute;
 margin-left: 5px;
 margin-top: 8px;
}
.container2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    width: 400px;
    height:fit-content;
border-radius: 15px;
}
.food{
    width: 250px;
    height: 400px;
    margin: 10px;
}
.title{
    margin-top: 30px;
}
.img{
    width: 248px;
    height: 250px;
border-radius: 10px;
}
.imgcontainer{
    border-radius: 10px;
    
}
.add{
    width: 150px;
    height: 40px;
    justify-self: center;
    justify-content: center;
    align-content: center;
    z-index: 5;
    position: absolute;
    background-color: white;
margin-left: 250px;
margin-top: -20px;
border-radius: 20px;
display: flex;
gap: 10px;
text-align: center;
border: 1px solid grey;
cursor:grab;
}
.add:hover{
    border:1px solid brown;
}
.p1{
 text-align: center;
 margin-top: 10px;
}
.svg{
    margin-top: 10px;
}
#empty{
    justify-self: center;
    align-self: center;
}
.count{
    display: block;
}
.sidefood{
display: flex;
flex-direction: column;
}
.foodname{
margin-left: 20px;
}
.tags{
display: flex;
text-align:left;
gap: 5px;
margin-left: 25px;
}
.canceldiv{
    display: flex;
    align-content: center;
}
.cancel{
    border: 1px solid grey;
    border-radius: 50%;
    padding: 5px;
    align-self: center;

}
hr{
   width:320px; 
   justify-self: center;

}
.totaldiv{
    display: flex;
    justify-self: center;
   padding-left: 80px;
   gap: 20px;
   display: none;
}
.totalprice{
    margin-top: 10px;

}
.buydiv{
    background-color: brown;
    width: 350px;
    justify-self: center;
    height: 40px;
    border: none;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 30px;
 display: none;
 cursor: grab;
 color: white;
}
.dialog{
    background-color:white;
    width: 400px;
    height: fit-content;
    display: none;
    border: none;
    border-radius: 15px;
    justify-content: center;
}
.carbon{
    background-color: rgb(252, 241, 228);
    width: 350px;
    height: 50px;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    display: none;
}
.dialogdiv{
   height: fit-content;
   background-color: bisque;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   border-radius: 10px;
   padding: 5px;
}
.order{
    padding-left: 10px;
}
.ordertotal{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#restart{
   
    width:350px ;
    height: 40px;
      background-color: brown;
    cursor: grab;
    justify-self: center;
  margin-left: 20px;
    border: none;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 30px;
    color: white;
}
.ordercontain{
    display: flex;
     gap: 20px;
    
     align-content: center;
}
.outorder{
    display: flex;
    flex-direction: column;
 gap: 10px;
}
.params{
    display: flex;
    gap: 10px;
    margin-top: -30px;
}
#mini{
    border-radius:10px ;
    width:50px;
    height:50px;
    margin-top: 27px;
}
.xadder1{
    margin-left: 50px;
}
.xadder2{
    margin-left: 10px;
}
.xadder3{
    margin-left: 50px;
}
.xadder4{
    margin-left: 70px;
}
.xadder5{
    margin-left: 80px;
}
.xadder6{
    margin-left: 50px;
}
.xadder7{
    margin-left: 75px;
}
.xadder8{
    margin-left: 10px;
}
.xadder9{
    margin-left: 50px;
}
.brown{
    color:brown;
}
.grey{
    color:grey;
}

@media(max-width:500px){
body{
margin-left:50px ;
 background-color: beige; 
 
}
.content{
    display:flex;
flex-direction: column;
    margin-bottom: 300px;
    justify-content: center;
}
.container1{
    display:flex;
    flex-direction:column ;
    width: 300px;
    height: 1050px;
    gap: 10px;
   
}
.plus{
    border: 1px solid white;
    width: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 5px;
    align-self: center;
    justify-self: start;
    margin-left: 60px;
    
}
.plus:hover{
    background-color: white;
    color: brown;
}
.minus:hover{
    background-color: white;
    color: brown;
}
.minus{
      border: 1px solid white;
    width: 5px;
    border-radius: 50%;
     width: 10px;
    height: 10px;
     padding: 5px;
    align-self: center;
  margin-left: 5px;
          
}
.count{
 z-index: 7;
 position: absolute;
 margin-left: 5px;
 margin-top: 8px;
}
.container2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    width: 350px;
    height:fit-content;
border-radius: 15px;
margin-top: 2900px;
margin-left: -45px;
}
.food{
    width: 250px;
    height: 400px;
    margin: 10px;
    justify-self: center;
    align-self: center;
}
.title{
    margin-top: 30px;
}
.img{
    width: 248px;
    height: 250px;
border-radius: 10px;
}
.imgcontainer{
    border-radius: 10px;
    
}
.add{
    width: 150px;
    height: 40px;
    justify-self: center;
    justify-content: center;
    align-content: center;
    z-index: 5;
    position: absolute;
    background-color: white;
margin-left: 250px;
margin-top: -20px;
border-radius: 20px;
display: flex;
gap: 10px;
text-align: center;
border: 1px solid grey;
cursor:grab;
}
.add:hover{
    border:1px solid brown;
}
.p1{
 text-align: center;
 margin-top: 10px;
}
.svg{
    margin-top: 10px;
}
#empty{
    justify-self: center;
    align-self: center;
}
.count{
    display: block;
}
.sidefood{
display: flex;
flex-direction: column;
}
.foodname{
margin-left: 20px;
}
.tags{
display: flex;
text-align:left;
gap: 5px;
margin-left: 25px;
}
.canceldiv{
    display: flex;
    align-content: center;
}
.cancel{
    border: 1px solid grey;
    border-radius: 50%;
    padding: 5px;
    align-self: center;
position: absolute;
justify-self: end;
}
hr{
   width:320px; 
   justify-self: center;

}
.totaldiv{
    display: flex;
    justify-self: center;
   padding-left: 80px;
   gap: 20px;
   display: none;
}
.totalprice{
    margin-top: 10px;

}
.buydiv{
    background-color: brown;
    width: 300px;
    justify-self: center;
    height: 40px;
    border: none;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 30px;
 display: none;
 cursor: grab;
 color: white;
}
.dialog{
    background-color:white;
    width: 400px;
    height: fit-content;
    display: none;
    border: none;
    border-radius: 15px;
    justify-content: center;
}
.carbon{
    background-color: rgb(252, 241, 228);
    width: 300px;
    height: 50px;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    display: none;
}
.dialogdiv{
   height: fit-content;
   background-color: bisque;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   border-radius: 10px;
   padding: 5px;
}
.order{
    padding-left: 10px;
}
.ordertotal{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#restart{
   
    width:350px ;
    height: 40px;
      background-color: brown;
    cursor: grab;
    justify-self: center;
  margin-left: 20px;
    border: none;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 30px;
    color: white;
}
.ordercontain{
    display: flex;
     gap: 20px;
    
     align-content: center;
}
.outorder{
    display: flex;
    flex-direction: column;
 gap: 10px;
}
.params{
    display: flex;
    gap: 10px;
    margin-top: -30px;
}
#mini{
    border-radius:10px ;
    width:50px;
    height:50px;
    margin-top: 27px;
}
.thumbnail{
    width: 370px;
}
.xadder1{
    margin-left: 50px;
}
.xadder2{
    margin-left: 10px;
}
.xadder3{
    margin-left: 50px;
}
.xadder4{
    margin-left: 70px;
}
.xadder5{
    margin-left: 80px;
}
.xadder6{
    margin-left: 50px;
}
.xadder7{
    margin-left: 75px;
}
.xadder8{
    margin-left: 10px;
}
.xadder9{
    margin-left: 50px;
}

}